<h1>Hangman</h1>
<br>
<pre>
  ________________
  |               |
                  |
                  |
                  |
                  |
                  |
                  |
                  |
                  |
            ______|_____
</pre>


<% @word.letterize.each do |letter| %>
  <%= "_" %>
<% end %>

<h3>Enter a letter:</h3>

<form action="/guesses" method="post">
  <input id ="word_id" name ="word_id" type ="hidden" value="<%= @word.id %>">
  <label for="guess"></label>
  <input id = "guess" name= "guess" type="text">

  <button type="submit">Submit</button>
</form>

<%
