<h1>Hangman</h1>

<h3>Enter a word:</h3>

<form action="/words" method="post">
  <label for="word">Word</label>
  <input id = "word" name= "word" type="text">

  <button type="submit">Submit</button>
</form>

<% if @words.any?() %>
  <p>Click on a word to start the game</p>
  <ul>
    <% @words.each do |word| %>
    <li><a href="/words/<%= word.id %>"><%= word.word %></a></li>
    <% end %>
  </ul>
<% else %>
<br>
  <p>You have not entered any words</p>
<% end %>

<h3>Delete</h3>
<form action="/" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete</button>
</form>
