<h1>Hangman</h1>
<br>
<pre>
  ________________
  /xx\            |
  \~~/            |
    |             |
  __|__           |
    |             |
    |             |
   / \            |
  /   \           |
                  |
            ______|_____
</pre>


<h1>YOU'RE DEAD!</h1>
<h2>GAME OVER</h2>
<h3>The answer was "<%= @word.word() %>"</h3>

<a href ="/">Return to main page </a>
