<h1>Hangman</h1>
<br>
<pre>
  ________________
  |               |                      ___________________________________________
                  |              ~~~    | Freedom! You saved me from certain death! |
                  |             /. .\   | I shall frolic in the meadows!            |
                  |             \ Q /   |___________________________________________|
                  |            \  |  /
                  |              \|/
                  |               |
                  |               |
                  |              / \    ❀    ✿    ❀    ✿
            ______|_____        /   \  \|/  \|/  \|/  \|/
</pre>


<h1>YOU'VE WON!</h1>
<br>
<h3>The answer was <%= @word.word() %></h3>

<a href ="/">Return to main page </a>
